{% extends 'layout.html' %}

{% block content %}
{% from "common/form_macros.html" import render_field, render_submit_field %}
<h1 class="mb-3">{%trans%}Add Email/Password login to your account{%endtrans%}</h1>

<form action="" method="POST" novalidate formnovalidate class="form" role="form">
    {{ form.hidden_tag() }}

    {# Username or Email #}
    {% set field = form.username if user_manager.USER_ENABLE_USERNAME else form.email %}
    {{ render_field(field, tabindex=210) }}

    {% if user_manager.USER_ENABLE_EMAIL and user_manager.USER_ENABLE_USERNAME %}
        {{ render_field(form.email, tabindex=220) }}
    {% endif %}

    {{ render_field(form.password, tabindex=230) }}

    {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}
        {{ render_field(form.retype_password, tabindex=240) }}
    {% endif %}
    {{ render_submit_field(form.submit, tabindex=280) }}
</form>

{% endblock %}
