{% extends 'layout.html' %}

{% block content %}
{% from "common/form_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<h1 class="mb-3">{%trans%}Sign in{%endtrans%}</h1>
{% if user_manager.app.config['GOOGLE_OAUTH_CLIENT_ID'] or user_manager.app.config['FACEBOOK_OAUTH_CLIENT_ID'] %}
<div class="container mb-3">
  <div class="row">
    {% if user_manager.app.config['GOOGLE_OAUTH_CLIENT_ID'] %}
    <div class="col">
	  <div id="gSignInWrapper" onclick="location.href='/login/google';">
		<div id="googleBtn">
		  <span class="googleicon"></span>
		  <span class="googlebuttonText">Google Login</span>
		</div>
      </div>
    </div>
    {% endif %}
    {% if user_manager.app.config['FACEBOOK_OAUTH_CLIENT_ID'] %}
    <div class="col">
	  <div id="fSignInWrapper" onclick="location.href='/login/facebook';">
		<div id="facebookBtn">
		  <span class="facebookicon"></span>
		  <span class="facebookbuttonText">Facebook Login</span>
		</div>
	  </div>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

<form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}

    {# Username or Email field #}
    {% set field = form.username if user_manager.USER_ENABLE_USERNAME else form.email %}
    {% if user_manager.USER_ENABLE_REGISTER and not user_manager.USER_REQUIRE_INVITATION %}
        {% set register_url = url_for('user.register') %}
        {% set register_label %}{% trans %}New here? Register.{% endtrans %}{% endset %}
    {% else %}
        {% set register_url = none %}
        {% set register_label = none %}
    {% endif %}
    {{ render_field(field, tabindex=110, right_url=register_url, right_label=register_label) }}

    {# Password field #}
    {% set field = form.password %}
    {% if user_manager.USER_ENABLE_FORGOT_PASSWORD %}
        {% set forgot_url = url_for('user.forgot_password') %}
        {% set forgot_label %}{% trans %}Forgot your Password?{% endtrans %}{% endset %}
    {% else %}
        {% set forgot_url = none %}
        {% set forgot_label = none %}
    {% endif %}
    {{ render_field(field, tabindex=120, right_url=forgot_url, right_label=forgot_label) }}

    {# Remember me #}
    {% if user_manager.USER_ENABLE_REMEMBER_ME %}
    {{ render_checkbox_field(form.remember_me, tabindex=130) }}
    {% endif %}
    {# Submit button #}
    {{ render_submit_field(form.submit, tabindex=180) }}
</form>

{% endblock %}
