{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% block content %}
<h1>User Profile</h1>

<p>{% if current_user.email_confirmed_at %}
<a href="{{ url_for('user.change_password') }}">Change password</a>
{% else %}
<a href="{{ url_for('user.linkemail') }}">Link an email to your account</a>
{% endif %}</p>

{% from "common/form_macros.html" import render_field, render_submit_field %}
<form action="" method="POST" class="form" role="form">
  <div class="row">
    <div class="col-sm-6 col-md-5 col-lg-4">
    {{ form.hidden_tag() }}

    {{ render_field(form.first_name, tabindex=240) }}

    {{ render_field(form.last_name, tabindex=250) }}

    {{ render_submit_field(form.submit, tabindex=280) }}
    </div>
  </div>
</form>

<!-- Optional OAuth Google: 
-->
{% if user_manager.app.config['GOOGLE_OAUTH_CLIENT_ID'] %}
<div class="mt-4">
  {% if current_user.oauth["google"] %}
	You are <strong>{{ current_user.oauth["google"].provider_user_login }}</strong> on Google.
  {% else %}	
	  <div id="gSignInWrapper" onclick="location.href='{{ url_for("google.login") }}';">
		<div id="googleBtn" style="width:250px">
		  <span class="googleicon"></span>
		  <span class="googlebuttonText">Link Google Account</span>
		</div>
      </div>
  {% endif %}
</div>
{% endif %}
<!-- Optional OAuth Facebook: 
-->

{% if user_manager.app.config['FACEBOOK_OAUTH_CLIENT_ID'] %}
<div class="mt-4">
  {% if current_user.oauth["facebook"] %}
	You are <strong>{{ current_user.oauth["facebook"].provider_user_login }}</strong> on Facebook.
  {% else %}	
	  <div id="fSignInWrapper" onclick="location.href='{{ url_for("facebook.login") }}';">
		<div id="facebookBtn" style="width:250px">
		  <span class="facebookicon"></span>
		  <span class="facebookbuttonText">Link Facebook Account</span>
		</div>
	  </div>
  {% endif %}
</div>
{% endif %}



{% endblock %}